In [ ]:
#Questions
l = [3,4,5,6,7 , [23,456,67,8,78,78],[345,56,87,8,98,9],(234,6657,6),{"key1" :1 . Try to reverse a list
2. try to access 234 out of this list
3 . try to access 456
4 . Try to extract only a list collection form list l
5 . Try to extract "sudh"
6 . Try to list all the key in dict element avaible in list
7 . Try to extract all the value element form dict available in list

In [1]:
l = [3,4,5,6,7,[23,456,76,8,78,78],[345,56,87,8,98,9],(234,6657,6), {'key1':'sudh',234:[1,2,3,"vinayak"]}]

In [2]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 76, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [1, 2, 3, 'vinayak']}]

# 1 . Try to reverse a list

In [3]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 76, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [1, 2, 3, 'vinayak']}]

In [6]:
# reverse list using slicing
l[::-1]

[3,
 4,
 5,
 6,
 7,
 [23, 456, 76, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [1, 2, 3, 'vinayak']}]

In [5]:
# reverse list using list method reverse
l.reverse()
l

[{'key1': 'sudh', 234: [1, 2, 3, 'vinayak']},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 76, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

# 2. try to access 234 out of this list

In [8]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 76, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [1, 2, 3, 'vinayak']}]

In [10]:
l[7][0]

234

In [14]:
list(l[8].keys())[1]

234

# 3 . try to access 456

In [10]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 76, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [1, 2, 3, 'vinayak']}]

In [12]:
l[5][1]

456

# 4 . Try to extract only a list collection form list l

In [13]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 76, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [1, 2, 3, 'vinayak']}]

In [14]:
l[5:7]

[[23, 456, 76, 8, 78, 78], [345, 56, 87, 8, 98, 9]]

# 5 . Try to extract "sudh"

In [15]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 76, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [1, 2, 3, 'vinayak']}]

In [16]:
l[-1]['key1']

'sudh'

# 6 . Try to list all the key in dict element avaible in list

In [22]:
l2 = l[-1].keys()
l2

dict_keys(['key1', 234])

In [23]:
l3 = list(l2)

In [24]:
l3

['key1', 234]

# 7 . Try to extract all the value element form dict available in list

In [25]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 76, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [1, 2, 3, 'vinayak']}]

In [27]:
l4 = l[-1].values()
l4

dict_values(['sudh', [1, 2, 3, 'vinayak']])

In [28]:
l5 = list(l4)

In [29]:
l5

['sudh', [1, 2, 3, 'vinayak']]

In [14]:
## first occurence of word in string
# example: "addbc"  output: "d"

In [24]:
s = "addbca"
re = ""
l=[]
for i in set(s):
    if s.count(i) > 1:
        re = re + i
        for j in re:
            l.append(s.index(j))
            l.sort()
            
print("character : ",s[l[0]],"index :",l[0],'first repeated character')

character :  a index : 0 first repeated character